<%- include('./partials/navbar') %>
<title>الشخصيات</title>
<link rel="stylesheet" href="/css/catgs.css">
    <!-- Main Start -->
    <main>
        <div class="container">
            <section class="catgs">
                <h3 class="title">الشخصيات</h3>
                <h4 class="small-title">الرئيسية / <span>الشخصيات</span></h4>
                <div class="catgs-box">
                    <% characters.forEach((character) => { %>                        
                        <div class="catg">
                            <a href="/characters/<%= character._id %>">
                                <div class="image">
                                    <img src="data:image/jpeg;base64, <%= character.image %>" alt="Uploaded Image" style="height: 180px;">
                                </div>
                            </a>
                            <div class="info">
                                <h3><%= character.firstName %></h3>
                                <p class="char-bio"><%= character.desc.substring(0, 30) %>...</p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </section>
        </div>
    </main>
    <!-- Main End -->

<%- include('./partials/footer') %>