<%- include('./partials/navbar') %>
<title>Company Details</title>
<link rel="stylesheet" href="/css/details.css">
<main>
    <div class="container">
        <h4 class="location">الرئيسية / <span><%= company.arabicName %> <%= company.englishName %></span></h4>
        <section class="content" id="content"> 
            <div class="info">
                <div class="top">
                    <div class="image">
                        <img src="data:image/jpeg;base64, <%= company.image %>" alt="Uploaded Image" style="width: 100%;">
                    </div>
                    <div class="text">
                        <h2 class="characterName">من هو؟ <%= company.arabicName %></h2>
                        <h4 class="nick">الاسم بالانجليزية:  - <%= company.englishName %></h4>
                        <h4>البلد: <%= company.country %></h4>
                        <h4>الفرع الرئيسي: <%= company.mainBranch %></h4>
                        <h4>رقم الهاتف : <%= company.phoneNumber %> <%= company.code %></h4>
                        <h4>الموقع الالكتروني: <%= company.website %></h4>
                        <h4>البريد الالكتروني: <%= company.email %></h4>
                    </div>
                </div>
                <div class="bottom">
                    <h2 class="characterName">من هو؟ <%= company.arabicName %> - <%= company.englishName %></h2>
                    <p class="descInfo">
                        <%= company.desc %>
                    </p>
                    <div class="sideInfo">
                        <h2>معلومات جانبية</h2>
                        <% Object.keys(company).forEach(key => {
                            if (!key.startsWith('$') && key !== '_doc') { %>
                                <h4><%= key %>: <%= company[key] %></h4>
                        <%  }
                        }); %>
                    </div>
                </div>
            </div>
            <div class="more">
                <div class="characters-box">
                    <% sameCompanies.forEach((company) => { %>
                        <a href="/company/<%= company._id %>">
                            <div class="character">
                                <div class="image">
                                    <img src="data:image/jpeg;base64, <%= company.image %>" alt="Uploaded Image" style="height: 180px;">
                                </div>
                                <div class="info">
                                    <h3 class="char-name" style="color: black;"><%= company.arabicName %></h3>
                                    <p class="char-bio" style="color: rgb(145, 145, 145);"><%= company.desc.substring(0, 30) %>...</p>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
            </div>
        </section>
    </div>
</main>
<%- include('./partials/footer') %>