<%- include('./partials/navbar') %>
<title>الشركات</title>
<link rel="stylesheet" href="/css/catgs.css">
    <!-- Main Start -->
    <main>
        <div class="container">
            <section class="catgs">
                <h3 class="title">الشركات</h3>
                <h4 class="small-title">الرئيسية / <span>الشركات</span></h4>
                <div class="catgs-box">
                    <% companies.forEach((company) => { %>                        
                        <div class="catg">
                            <a href="/companies/<%= company._id %>">
                                <div class="image">
                                    <% if (company.image == 'default.jpg') { %>
                                        <img src="/uploads/<%= company.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } else { %>
                                        <img src="data:image/jpeg;base64, <%= company.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } %>  
                                </div>
                            </a>
                            <div class="info">
                                <h3><%= company.arabicName %></h3>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </section>
        </div>
    </main>
    <!-- Main End -->

<%- include('./partials/footer') %>