<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Details</title>
</head>
<body>
    <img src="data:image/jpeg;base64, <%= company.image %>" alt="Uploaded Image">
    <h1><%= company.arabicName %></h1>
    <h1><%= company.englishName %></h1>
    <p><%= company.desc %></p>
    <p><%= company.nationality %></p>
    <p><%= company.residence %></p>
    <p><%= company.birthday %></p>
    <p><%= company.catg %></p>
    <p><%= company.job %></p>
</body>
</html>