<%- include('partials/navbar') %>
    <link rel="stylesheet" href="css/style.css">
    <title>من هم</title>
    <main>
        <div class="container">
            <!-- <section class="header" style="background: linear-gradient(90deg, <%= headingColor1.value %> 0%, <%= headingColor2.value %> 45%, <%= headingColor3.value %> 100%) !important">
                <div class="content">
                    <% texts.forEach((text) => { %>
                        <% if(text.name == 'Header-Heading1'){%>
                            <h1><%= text.value %></h1>
                        <% }else{ %>
                            <h1>no heading</h1>
                        <% } %>
                    <% }) %>
                    <h2>ابحث ضمن 150483 شخصية ومؤسسة</h2>
                    <div class="search-box">
                        <form action="/search" method="post" novalidate>
                            <div class="right">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="search-input" name="query" placeholder="ابحث هن شخصية او مؤسسة">
                            </div>
                            <div class="left">
                                <button type="submit">ابحث</button>
                            </div>
                        </form>
                    </div>
                    <div class="trends">
                        <% tags.forEach((tag) => { %>
                            <button>
                                <a href="/tags/<%= tag._id %>" style="color: white;">
                                    <i class="fa-solid fa-arrow-trend-up"></i>
                                    <%= tag.title %>
                                </a>
                            </button>
                        <% }) %>
                        <button>تصفح الكل</button>
                    </div>
                </div>
            </section> -->
            <section class="trends-characters">
                <h2 class="heading">الشخصيات الاكثر زيارة الان</h2>
                <div class="characters-box">
                    <% characters.forEach((character) => { %>
                        <a href="/character/<%= character._id %>">
                            <div class="character">
                                <div class="image">
                                    <% if (character.image == 'default.jpg') { %>
                                        <img src="/uploads/<%= character.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } else { %>
                                        <img src="data:image/jpeg;base64, <%= character.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } %>
                                </div>
                                <div class="info">
                                    <h3 class="char-name" style="color: black;"><%= character.firstName %> <%= character.lastName %></h3>
                                    <p class="char-bio"><%= character.desc.substring(0, 50) %>...</p>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
                <br>
                <br>
                <center>
                    <a href="/characters" class="btn" style="background-color: <%= btnColor.value %>">عرض الكل</a>
                </center>
            </section>
            <section class="trends-companys">
                <h2 class="heading">المؤسسات الاكثر زيارة الان</h2>
                <div class="companys-box">
                    <% companies.forEach((company) => { %> 
                        <a href="/company/<%= company._id %>">
                            <div class="company">
                                <div class="image">
                                    <% if (company.image == 'default.jpg') { %>
                                        <img src="/uploads/<%= company.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } else { %>
                                        <img src="data:image/jpeg;base64, <%= company.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } %>                                
                                </div>
                                <div class="info">
                                    <h3 class="comp-title" style="color: black;"><%= company.arabicName %></h3>
                                </div>
                            </div>
                        </a> 
                    <% }) %>
                </div>
                <br>
                <br>
                <center>
                    <a href="/companies" class="btn" style="background-color: <%= btnColor.value %>">عرض الكل</a>
                </center>
            </section>
            <section class="catgs-choosen">
                <h2 class="heading">التصنيفات المختارة</h2>
                <div class="catgs-box">
                    <% catgs.forEach((catg) => { %>
                        <a href="/catgs/<%= catg._id %>">                        
                            <div class="catg">
                                <div class="image">
                                    <img src="data:image/jpeg;base64, <%= catg.image %>" alt="Uploaded Image" style="height: 180px;">
                                </div>
                                <div class="info">
                                    <h3 class="catg-title" style="color: black;">
                                        <%= catg.title %>
                                    </h3>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
                <br>
                <br>    
                <center>
                    <a href="/catgs" class="btn" style="background-color: <%= btnColor.value %>">عرض الكل</a>
                </center>
                <br>
                <br>
            </section>
        </div>
    </main>
<%- include('partials/footer') %>