<%- include('./partials/navbar') %>
    <title>بحث عن: <%= query %></title>
    <link rel="stylesheet" href="css/style.css">
    
    <main>
        <div class="container">
            <section class="trends-characters">
                <h2 class="heading">الشخصيات الموجودة</h2>
                <div class="characters-box">
                    <% characters.forEach((character) => { %>
                        <a href="/character/<%= character._id %>">
                            <div class="character">
                                <div class="image">
                                    <% if (character.image == 'default.jpg') { %>
                                        <img src="/uploads/<%= character.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } else { %>
                                        <img src="data:image/jpeg;base64, <%= character.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } %>                                </div>
                                <div class="info">
                                    <h3 class="char-name" style="color: black;"><%= character.firstName %> <%= character.lastName %></h3>
                                    <p class="char-bio"><%= character.desc.substring(0, 50) %>...</p>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
            </section>
            <section class="trends-companys">
                <h2 class="heading">المؤسسات الموجودة  </h2>
                <div class="companys-box">
                    <% companies.forEach((company) => { %> 
                        <a href="/company/<%= company._id %>">
                            <div class="company">
                                <div class="image">
                                    <% if (company.image == 'default.jpg') { %>
                                        <img src="/uploads/<%= company.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } else { %>
                                        <img src="data:image/jpeg;base64, <%= company.image %>" alt="Uploaded Image" style="height: 180px;">
                                    <% } %>                                  </div>
                                <div class="info">
                                    <h3 class="comp-title" style="color: black;"><%= company.arabicName %></h3>
                                </div>
                            </div>
                        </a> 
                    <% }) %>
                </div>
            </section>
        </div>
    </main>
<%- include('./partials/footer') %>